@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
	--primary-bg: #353535;
	--secondary-color: #FFFFFF; 
	--third-color: #577399;
	--fourth-color: #161a1d;
	--nav: #D9D9D9;
	--services: #284B63;
	--services-hover: #3C6E71;
	
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	position: relative;
}
a, li {
	text-decoration: none;
	list-style: none;
	color: white
}
button {
	cursor: pointer;
}
nav {
	display: flex;
	justify-content: space-around;
	background-color: var(--primary-bg);
	color: var(--secondary-color);
	padding: 0.5em
}
nav .left {
	font-size: 1.5em
}
nav .right ul{
	display: flex;
}
nav .right ul li a {
	padding: 1.5em;
}
.jumbotron {
	background-color: var(--primary-bg);
	color: var(--secondary-color);
	padding: 100px;
	height: 95vh;
	opacity: 100%;
}
.jumbotron h2 {
	font-size: 3em;
	font-weight: 500;
	line-height: 1.5em
}
.jumbotron span {
	font-weight: bold;
	font-size: 1.5em
}
.jumbotron button {
    border: none;
    padding: 1.2em 2.5em;
    background-color: blue;
   	background-color: var(--third-color);
	margin-top: 20px;
	color: var(--text-color);
	transition: 0.5s
}
.jumbotron button:hover {
	background-color: #1a535c
}
.about {
	display: flex;
	background-color: var(--secondary-color);
	max-height: 
}
.about .left {
	flex: 1;
	background-color: var(--secondary-color);
	padding: 2em;
}
.about .right {
	flex: 1;
	display: flex;
	background-color: var(--third-color);
	height: 70vh
}
.about .right #img {
	margin: auto auto;
	align-items: center;
	width: 50%;
	height: 80%
}
.services {
	background-color: var(--primary-bg);
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: space-around;

}
.service {
	width: 19em;
	color: white;
	margin: 5em 0;
}
.service .content {
	text-align: center;
	padding: 50px;
}
.service .content img {
	width: 50px;
}
.service-color {
	background-color: var(--services);
}
.service-color:hover {
	background-color: var(--services-hover)
}
.contacts {
	background-color: #272727;
	color: var(--secondary-color);
	padding-top:  1em;
}
.contacts h1{
	margin-top: 20px
}
.contacts .content {
	display: flex;
	margin: 0 0 2em 15em ;
}
.contacts h1 {
	text-align: center;
}
.contacts .left {
	flex: 1;
}
.contacts #left {
	display: block;
	margin: 0.5em;
	padding: 10px;
	width: 250px;
	background-color: var(--primary-bg);
	border: none;
	color: var(--c)
}
.contacts .content .left button {
	background-color: var(--secondary-color);
}
.contacts .right {
	flex: 1;
}
.right .content-right {
	display: flex;
	flex: 1;
	align-items: center;
}
.right .content-right i {
	padding-right: 0.5em
}

.right .sosmed {
	display: flex;
}
.right .sosmed i {
	margin: 20px;
	color: gray;
	cursor: pointer;
}
.right .sosmed i:hover {
	color: var(--secondary-color)
}
.contacts .footer {
	text-align: center;
	padding: 20px;
	color: gray;
}
.danger {
	display: none;
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 800px) {
	nav, .jumbotron, .about, .services, .contacts {
		display: none;
	}
	.danger {
		display: block;
		align-items: center;
		background-color: var(--primary-bg);
		color: var(--secondary-color);
		text-align: center;
	}

} 
